* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

@mixin absoluteFill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


$tabs-height: 42px;

#xi-root {
  @include absoluteFill;
  font-weight: 100;
  color: #333;
}

.xi-workspace {
  @include absoluteFill;
  background: #dad9da;

  .xi-view {
    position: absolute;
    top: $tabs-height;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    background: #fff;
    padding: 10px;

    .xi-line-view {
      height: 100%;
      font-family: monospace;
      &, * { user-select: none; }
    }

    .xi-line {
      position: relative;
      min-height: 1em;
      margin: 0;
      cursor: text;

      &.xi-active-line { background: #e8f2ff; }
    }

    @keyframes cursor-blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
    }

    .xi-cursor {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: #000;
      animation: cursor-blink 1060ms infinite;
      animation-delay: 300ms;
      // Hide when editor not focused.
      display: none;
    }
    &.xi-focused .xi-cursor {
      display: block;
    }

    // Used for measure char widths.
    .xi-measure {
      position: absolute;
      width: 100%;
      height: 0;
      overflow: hidden;
      visibility: hidden;

      div { position: static; }
    }


    // Syntax definitions.
    .xi-selection {
      background: #d7d4f0;
    }

  } // .xi-view
} // .xi-workspace
