$xiTabHeight: 2.8em;
$xiTabSpaceAbove: 1em;
$xiTabSpaceBelow: 0.45em;
$activeTabBackgroundColor: #f2f2f2;

.xi-tabs-container {
  box-sizing: border-box;
  position: relative;
  font-size: 10px;
  height: 4.2em;
  background: linear-gradient(#dad9da, #d9d8d9);
  padding: $xiTabSpaceAbove 1.2em $xiTabSpaceBelow 1.2em;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  * {
    box-sizing: inherit;
    font-family: inherit;
  }

  .xi-tabs-bottom-bar {
    position: absolute;
    bottom: 0;
    height: $xiTabSpaceBelow;
    left: 0;
    width: 100%;
    background: $activeTabBackgroundColor;
    box-shadow: 0 -0.05em rgba(0, 0, 0, 0.27);
    border-bottom: 1px solid #b7b7b7;
    z-index: 20;
  }

  .xi-tabs-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .xi-tab {
    position: absolute;
    left: 0;
    height: $xiTabHeight;
    width: 24em;
    border: 0;
    margin: 0;
    z-index: 1;

    &, * {
      user-select: none;
      cursor: default;
    }

    &.xi-new-tab {
      &:active svg .xi-tab-background {
        fill: $activeTabBackgroundColor;
      }
    }

    .xi-tab-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;

      svg {
        width: 100%;
        height: 100%;

        .xi-tab-shadow {
          fill: none;
          stroke: rgba(0, 0, 0, 0.27);
          stroke-width: 0.5px;
        }

        .xi-tab-background {
          fill: #d0d0d0;
          transform: translateX(0.25px) translateY(0.25px);
        }
      }
    }

    &.xi-tab-selected {
      z-index: 999;

      .xi-tab-background > svg .xi-tab-background {
        fill: $activeTabBackgroundColor;
      }
    }

    @keyframes xi-tab-just-added {
      to {
        top: 0;
      }
    }

    &.xi-tab-just-added {
      top: $xiTabHeight;
      animation: xi-tab-just-added 180ms forwards ease-in-out;
      animation-delay: 50ms;
    }

    @keyframes xi-tab-just-removed {
      to {
        top: $xiTabHeight;
      }
    }

    &.xi-tab-just-removed {
      top: 0;
      animation: xi-tab-just-removed 280ms forwards ease-in-out;
    }

  }

  &.xi-tabs-animate .xi-tab {
    transition: transform 80ms ease-in-out;
  }

  &.xi-tabs-sorting .xi-tab:not(.xi-tab-currently-dragged),
  &:not(.xi-tabs-sorting) .xi-tab.xi-tab-just-dragged {
    transition: transform 120ms ease-in-out;
    &.xi-new-tab { visibility: hidden; }
  }

  .xi-tab-icon {
    position: relative;
    margin-left: 1.6em;
    height: 1.6em;
    width: 1.6em;
    background-size: 1.6em;
    margin-top: 0.6em;
    z-index: 3;
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
  }

  .xi-tab-title {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: #222;
    padding: 0 .25em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
    margin-top: .5em;
    max-width: calc(100% - 5em);
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
  }

  .xi-tab-close {
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    z-index: 2;
    right: 1.4em;
    top: 0.7em;
    color: #505050;

    &:before {
      font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
      content: "\00D7";
      position: absolute;
      display: block;
      top: 0.05em;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 1em;
      line-height: 1;
    }
    &:hover {
      background: #e25c4b;
      color: #fff;

      &:active {
        background: #b74a3b;
      }
    }
  }
}
